img{
    width: 300px;
    border: solid black;
    background-color: white;
}

body{
width: 384px;
height: 522px;
position: absolute;
top: 218.5px;
left: 528px;
border: 5px solid black;
border-radius: 50x;
padding: 24px;
box-sizing: border-box;
background-color: antiquewhite;
box-shadow: 50px;
}
h2{
    font-style: italic;
}
div{
    height: 30%;
    width: 20%;
    background-color: rgb(255, 205, 218);
    box-shadow: 10px;
}
div{
    box-shadow:10px;
}